@model NoiThatAdmin.Models.DataModels.Information

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InfoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InfoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
