@model NoiThatAdmin.Models.DataModels.Advertise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advertise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvertiseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertiseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvertiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvertiseImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertiseImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvertiseURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertiseURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvertiseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
